.App {
  text-align: center;
}
.countries {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.country {
  background-color: #c5e1f5;
  border: 1px solid #cccccc;
  padding: 5px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.country:hover .flag {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.country:hover h2 {
  display: none;
}

.flag {
  display: none;
  width: 100%;
  height: 100%;
}

@media (max-width: 479px) {
  .countries {
    grid-template-columns: repeat(1, 1fr); /* 1 sütun */
  }
}

/* Ekran boyutu 768 pikselden küçük olanlar için stil ayarları */
@media (max-width: 767px) {
  .countries {
    grid-template-columns: repeat(2, 1fr); /* 2 sütun */
  }
}

/* Ekran boyutu 992 pikselden küçük olanlar için stil ayarları */
@media (max-width: 991px) {
  .countries {
    grid-template-columns: repeat(3, 1fr); /* 3 sütun */
  }
}

/* Ekran boyutu 1200 pikselden küçük olanlar için stil ayarları */
@media (max-width: 1199px) {
  .countries {
    grid-template-columns: repeat(4, 1fr); /* 4 sütun */
  }
}

/* Ekran boyutu 1400 pikselden küçük olanlar için stil ayarları */
@media (max-width: 1399px) {
  .countries {
    grid-template-columns: repeat(5, 1fr); /* 5 sütun */
  }
}

/* ... diğer stiller ... */

.search {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

/* Responsive stiller */
@media (max-width: 768px) {
  .search-input {
    font-size: 14px;
    padding: 8px;
  }
}

/* ... diğer stiller ... */

/* Modal için responsive stiller */
@media (max-width: 480px) {
  .modal-content {
    width: 80% !important;
  }
}
