.App {
  text-align: center;
}

.countries {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.country {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
  position: relative;
}

.country:hover .flag {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.country:hover h2 {
  display: none;
}

.flag {
  display: none;
  width: 100%;
  height: 100%;
}
